/* scrollVertical.css | Scroll personalizado */

/* ================================ SCROLL GENERAL ================================ */
/* Scroll personalizado */
.section-scroll::-webkit-scrollbar {
  width: 10px;
}
.section-scroll::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 5px;
}
.section-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b22222, var(--rojo));
  border-radius: 10px;
  border: 1px solid var(--negro);
  transition: background 0.3s ease, transform 0.2s ease;
}
.section-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff3333, #b22222);
  transform: scale(1.05);
}
/* Compatibilidad con Firefox */
.section-scroll {
  scrollbar-width: thin;
  scrollbar-color: #b22222 #0a0a0a;
}

/* ================================ RESPONSIVE ================================*/
/* Pantallas menores a 1024px (Movil) */
@media (max-width: 1024px) {
}

/* Pantallas mayores a 1024px (PC) */
@media (min-width: 1024px) {
}